In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
data = [4, 8, 15, 16, 23, 42,4,5,6,7,8,9,99,]
series = pd.Series(data)
print(series)

0      4
1      8
2     15
3     16
4     23
5     42
6      4
7      5
8      6
9      7
10     8
11     9
12    99
dtype: int64

In [3]:
data = { 'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [5]:
import pandas as pd

# Creating a Series
ages_series = pd.Series([25, 30, 27], name='Age')

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

# Printing the Series and DataFrame
print("Series:")
print(ages_series)
print("\nDataFrame:")
print(df)

Series:
0    25
1    30
2    27
Name: Age, dtype: int64

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

head()
tail()
type()
columns()
info()

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Mutable:
Series: Mutable
DataFrame: Mutable
Panel: Deprecated (Use MultiIndex DataFrames instead)

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [7]:
name_series = pd.Series(['Alice','Bob','Claire'], name= 'Name')
age_series = pd.Series([25,30,27], name = 'Age' )
Gender_series = pd.Series(['Female', 'Male', 'Female'], name = 'Gender')

data = {
    'Name':name_series,
    'Age':age_series,
    'Gender':Gender_series,
}
df= pd.DataFrame(data)

In [8]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female